<div class="container">
  <div class="row">
    <div class="col-md-12" *ngIf = "movieService.allmovies">            
      <div *ngFor="let x of movieService.allmovies" class="movie-block">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{x.Title}}</h5>
              <p class="card-text">{{x.About}}</p>
              <a href="#" class="btn btn-primary">Nánar</a>
              <a *ngIf="loggedIn" href="#" class="btn btn-info">Leigja</a>            
          </div>
        </div>
    </div>
  </div>
</div>



