<div class="row">
  <div class="col text-right">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Aðgerðir</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        
        <button class="dropdown-item" routerLink="account/login">Login</button>
        <button class="dropdown-item" routerLink="account/register">Register</button>
        <button class="dropdown-item">Logout</button>
      </div>
    </div>
  </div>